div {
    border: 1px solid black;
}

.main-container {
    display: grid;
    grid-template-rows: 150px 8fr 1fr;
    
    min-width: fit-content;
    min-height: 100dvh;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 100px;
    width: 50em;
}

.menu-container button {
    height: 65px;
    width: 150px;
}


.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 35em;
    width: 35em;
}

.cellblock {
    display: flex;
    justify-content: center;
    align-items: center;
}