div {
    border: 1px solid black;
}

.main-container {
    display: grid;
    grid-template-rows: 
    250px 8fr 1fr;
    min-width: fit-content;
    min-height: 100dvh;
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu-container {
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.game-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.player-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.game-options button {
    height: 65px;
    width: 150px;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    min-width: 100px;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 35em;
    width: 35em;
}

.cellblock {
    display: flex;
    justify-content: center;
    align-items: center;
}